body{
    background-color: #363643;
}

.rubik-mono-one{
    font-family: 'Rubik Mono One', sans-serif;
}

.bg-dark{
    background-color: #222231 !important;
}

.tab-hover:hover{
    transition: 0.250s;
    color : #ec7400 !important;
}

.tab-hover:hover{
    color:whitesmoke !important;
    transition: 0.250s;
}


.Mui-selected.tab-hover{
    transition: 0.250s;
    color : #ffa600 !important;
}

.tab-hover{
    color:whitesmoke !important;
    transition: 0.250s;
}

.MuiTabs-indicator{
    background-color: #ffa600 !important;;
}