html,body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
btn:focus, a:focus, input:focus
{
    outline: none;
    box-shadow: none;
}
.navbar-toggler:focus
{
    outline: none !important;
    box-shadow: none;
}
.shadow-blue{
    box-shadow: 0 0.25rem 0.5rem 0 rgb(47 91 234 / 10%)
}

.cursive-text{
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.arial{
    font-family: "Adobe Devanagari";
}